.project {
    margin-bottom: 1rem;
}

.description {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 0.95rem;
    vertical-align: text-top;
    margin: 0 0 0.3rem;
}

.project_title {
    font-weight: 500;
    letter-spacing: .06rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
}

.stats{
    display: inline-block;
}

.icon {
    vertical-align: bottom;
    font-size: 18px !important;
}

.right_spacer {
    margin-right: .8rem;
}

@media (max-width: 800px) {
    .project_title{
        text-align: center;
    }
}