.item_root {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "item_title item_content";
    margin-bottom: 2rem;
}

.item_title_text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    text-align: center;
    letter-spacing: .1rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    margin: 0;
}

.item_title {
    grid-area: item_title;
}

.item_content {
    grid-area: item_content;
}

@media (max-width: 800px) {
    .item_root {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas:
        "item_title"
        "item_content";
    }
    .item_title_text {
        padding-bottom: 1rem;
    }

    .item_content {
        padding: 0 2rem 0 2rem;
    }
}