.app_container {
  height: 100%;
}

.app_background {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0 0;
  width: 100%;
  height: 100%;
  background-color: #ececf3;
  opacity: 0.5;
  background-image:  radial-gradient(#8a8a8a 1.4000000000000001px, transparent 1.4000000000000001px), radial-gradient(#8a8a8a 1.4000000000000001px, #f2f7f8 1.4000000000000001px);
  background-size: 56px 56px;
  background-position: 0 0,28px 28px;
  z-index: 1;
}

.app_header {
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.app_foreground {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "app_content .";
  z-index: 2;
}

.app_header_left_padding {
  padding-left: 3rem;
}

.app_content_containers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content min-content;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "app_header"
    "app_projects";
}

.app_header_title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  margin-block-end: 0.5rem;
  letter-spacing: .2rem;
  margin-block-start: 0;
}

.app_header_description {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  margin-block-start: 0;
}

.app_content {
  background-color: white;
}

.app_header_links {
  display: inline;
}

.header_link {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin-block-start: 0;
  padding-right: 0.5rem;
  text-decoration: none;
}

.header_link:link, .header_link:visited, .header_link:active {
  color: #666666;
}

.header_link:hover {
  color: #383838;
}

@media (max-width: 600px) {
  .app_foreground {
    grid-template-columns: 1fr 0fr;
  }
  .app_content {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .app_header {
    text-align: center;
  }
  .app_header_left_padding {
    padding-left: 0;
  }
}